@charset "uft-8";
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.top-page main {
    padding-top: 800px;
    position: relative;
    z-index: 3;
}
footer {
    position: relative;
    z-index: 3;
}
@keyframes logoFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes letterFadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* loading */
#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c10215;
    width: 100vw;
    height: 100vh;
    position: fixed;
    /* top: 180px;
    left: 15.2%; */
    z-index: 9999;
    transition: opacity 1s ease;
}
.loading-content {
    display: flex;
    align-items: center;
    top: 180px;
    left: 15.2%;
    gap: 60px;
}
.loading-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.loading-text p {
    margin: 0;
    font-size: 84px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -16px;
    color: #fff;
}
.loading-text span {
    opacity: 0;
    display: inline-block;
    animation: letterFadeIn 0.5s forwards;
}
.loading-text span:nth-child(1) {
    animation-delay: 1s;
}
.loading-text span:nth-child(2) {
    animation-delay: 1.2s;
}
.loading-text span:nth-child(3) {
    animation-delay: 1.4s;
}
.loading-text span:nth-child(4) {
    animation-delay: 1.6s;
}
.loading-text span:nth-child(5) {
    animation-delay: 1.8s;
}
.loading-text span:nth-child(6) {
    animation-delay: 2s;
}

.loading-text p:nth-child(2) span:nth-child(1) {
    animation-delay: 2.2s;
}
.loading-text p:nth-child(2) span:nth-child(2) {
    animation-delay: 2.4s;
}
.loading-text p:nth-child(2) span:nth-child(3) {
    animation-delay: 2.6s;
}
.loading-text p:nth-child(2) span:nth-child(4) {
    animation-delay: 2.8s;
}
.loading-text p:nth-child(2) span:nth-child(5) {
    animation-delay: 3s;
}
.loading-text p:nth-child(2) span:nth-child(6) {
    animation-delay: 3.2s;
}
.loading-text p:nth-child(2) span:nth-child(7) {
    animation-delay: 3.4s;
}
.loading-text p:nth-child(2) span:nth-child(8) {
    animation-delay: 3.6s;
}

.loading-text p:nth-child(3) span:nth-child(1) {
    animation-delay: 3.8s;
}
.loading-text p:nth-child(3) span:nth-child(2) {
    animation-delay: 4s;
}
.loading-text p:nth-child(3) span:nth-child(3) {
    animation-delay: 4.2s;
}
.loading-text p:nth-child(3) span:nth-child(4) {
    animation-delay: 4.4s;
}
.loading-text p:nth-child(3) span:nth-child(5) {
    animation-delay: 4.6s;
}
.loading-text p:nth-child(3) span:nth-child(6) {
    animation-delay: 4.8s;
}
.loading-text p:nth-child(3) span:nth-child(7) {
    animation-delay: 5s;
}
.loading-text p:nth-child(3) span:nth-child(8) {
    animation-delay: 5.2s;
}
.loading-text p:nth-child(3) span:nth-child(9) {
    animation-delay: 5.4s;
}

.logo {
    max-width: 285px;
    width: 100%;
    aspect-ratio: 285/271;
    opacity: 0;
    transform: scale(0.8);
    animation: logoFadeIn 2s ease-out forwards;
    animation-delay: 2s;
    z-index: 2;
    position: relative;
    transition: opacity 1.5s ease, transform 1.5s ease;
}
.fade-out-logo {
    opacity: 0 !important;
    transition: opacity 1s ease;
}
.fade-out-text {
    opacity: 0 !important;
    transition: opacity 1s ease;
}

#loading.fade-out-bg {
    opacity: 0;
    transition: opacity 1s ease, filter blur(2px);
}

/* header */
.header__group {
    position: relative;
    z-index: 9000;
}
.header__inner {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 75px;
    background-color: #fff;
}
.header__title {
    position: absolute;
    top: 300px;
    right: 50%;
}
.title__img {
    mix-blend-mode: difference;
    opacity: 0.5;
}
.header__left {
    position: fixed;
    top: 22px;
    left: 35px;
    display: flex;
}
.header__left p {
    font-size: 22px;
    line-height: 1.81;
    color: #fe2e35;
}
.header__left span {
    font-weight: 700;
}
/* ナビゲーションメニュー */
.menu {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fcebec;
}
.menu ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    text-align: center;
    margin-top: 128px;
    gap: 117px;
}

/* タイトルにつけるチューリップのアイコン */
.menu img {
    width: 43px;
    height: 133px;
}
/* メニュータイトルの文字 */
.menu p {
    font-size: 35px;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.hamburger {
    display: block;
    position: fixed;
    width: 75px;
    height: 75px;
    top: 0;
    right: 0;
    z-index: 9998;
    cursor: pointer;
    background-color: #fe2e35;
    text-align: center;
    align-content: center;
}
.hamburger-text p {
    font-size: 18px;
    color: #fff;
    position: fixed;
    top: 45px;
    right: 11px;
}

.hamburger-text span:nth-of-type(1),
.hamburger-text span:nth-of-type(2) {
    display: inline-block;
    position: absolute;
    left: 20px;
    vertical-align: middle;
    width: 33px;
    height: 2px;
    background-color: #fff;
    transition: 0.4s;
}
.hamburger-text span:nth-of-type(1) {
    top: 20px;
}
.hamburger-text span:nth-of-type(2) {
    top: 30px;
}
/* openがついたときにＸにする */
.open span {
    background-color: transparent;
}
.open span:nth-of-type(1) {
    transform: rotate(-45deg);
    top: 20px;
}
.open span:nth-of-type(2) {
    transform: rotate(45deg);
    top: 20px;
}
/* 背景 */
.main-visual {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 181px;
    left: 15.2%;
    z-index: -1;
    pointer-events: none;
    transition: transform 0.3s ease-out;
}

.mv__title {
    font-size: 84px;
    font-weight: 900;
    position: absolute;
    z-index: 1;
    top: 180px;
}
.mv__title--transparent {
    font-size: 84px;
    font-weight: 900;
    position: absolute;
    z-index: 3;
    color: transparent;
    -webkit-text-stroke: 2px #1a1a1a;
    text-stroke: 2px #1a1a1a;
    paint-order: stroke;
    top: 180px;
}
.mv__title-area picture {
    width: 100vw;
    display: block;
    position: fixed;
    z-index: 2;
    left: 0;
    transition: transform 0.3s ease-out;
    transform-origin: center center;
}
.mv__title-area img {
    height: 654px;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 2;
    width: 68.2%;
    margin: 0 80px 0 auto;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: opacity 0.5s ease-out;
}
/* セクションタイトル */
.section__title {
    display: flex;
}
.section__title img {
    width: 43px;
    height: 133px;
    padding-left: 16px;
}
.section__title p {
    font-size: 100px;
    line-height: 1.75;
}
.row {
    margin: 0 auto;
    padding: 50px 50px 150px;
    max-width: 1000px;
}
/* CONCEPT */
.concept__group {
    display: flex;
}
.hero__text {
    font-size: 40px;
    line-height: 1.5;
}
.concept__text {
    padding-left: 40px;
}
.concept__text h4 {
    font-size: 26px;
    line-height: 1.8;
}
.concept__text p {
    font-size: 23px;
    line-height: 2;
    padding-top: 38px;
}
/* WORKS */
.works__group a {
    display: flex;
}
.works__group {
    padding-top: 80px;
}
.works__group li {
    padding-bottom: 50px;
}
.works__group img {
    width: 318px;
    height: 338px;
}
.works__item {
    width: 642px;
    height: 338px;
    margin: 0 0 0 auto;
}
.works__text {
    width: 324px;
    height: 338px;
    background-color: #fe2e35;
    position: relative;
}
.works__text p {
    font-size: 20px;
    line-height: 1.75;
    color: #fff;
}
.works__title {
    position: absolute;
    top: 13%;
    left: 14%;
}

.works__title p {
    white-space: pre-wrap;
}

.works__more {
    position: absolute;
    bottom: 10%;
    right: 14%;
    display: inline-block;
}
.works__more::after {
    content: "";
    width: 8px;
    height: 8px;
    margin-top: -5px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: -20px;
}

.btn-works {
    width: 134px;
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    background-color: #fe2e35;
    border: 1px solid #fe2e35;
    text-align: center;
    align-content: center;
    color: #fff;
    position: relative;
    display: inline-block;
}
.btn-works a {
    display: block;
    width: 100%;
    height: 100%;
}
.btn-works::after {
    content: "";
    width: 8px;
    height: 8px;
    margin-top: -5px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 10px;
}
.white-works {
    background-color: white;
    border: 1px solid #000;
    color: #000;
}
.white-works::after {
    content: "";
    width: 8px;
    height: 8px;
    margin-top: -5px;
    border-top: solid 2px #000;
    border-right: solid 2px #000;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 10px;
}

/* SKILL */
.section-skill {
    display: flex;
}
.skill__group {
    margin-top: 80px;
    margin-left: 30px;
}
.skill__group ul {
    padding-bottom: 54px;
}
.skill__group li {
    display: flex;
}
.skill__type h3 {
    font-size: 40px;
    line-height: 1.2;
    padding-bottom: 16px;
}
.skill__type p {
    font-size: 16px;
    line-height: 1.18;
    align-content: center;
}
.skill__type {
    gap: 16px;
}
.skill__item p {
    width: 136px;
    font-size: 28px;
    line-height: 1.2;
}
.skill__item {
    gap: 70px;
}

/* SERVICE */
.service__subtitle p {
    font-size: 16px;
    line-height: 2.13;
}
.service__text ul {
    padding-top: 80px;
    padding-left: 35%;
}
.service__text li {
    display: flex;
    padding-bottom: 80px;
}
.service__text img {
    width: 140px;
    height: 184px;
}
.service__text p {
    font-size: 18px;
    line-height: 1.77;
    padding-left: 60px;
    align-content: center;
}

/* CONTACT */
#CONTACT {
    background-color: #eed8c8;
}
.contact__subtitle p {
    font-size: 19px;
    line-height: 2.1;
}
.contact__text {
    padding: 50px 10% 0;
}
.contact__type {
    font-size: 18px;
    line-height: 2.2;
}
.contact__name,
.contact__e-mail {
    width: 100%;
    height: 72px;
    font-size: 20px;
    line-height: 2;
    color: #666;
    background-color: #fff;
    border: 1px solid #457d2e;
    align-content: center;
    padding-left: 10px;
    box-sizing: border-box;
}
.contact__message {
    width: 100%;
    height: 184px;
    font-size: 20px;
    line-height: 2;
    color: #666;
    background-color: #fff;
    border: 1px solid #457d2e;
    padding-left: 10px;
    box-sizing: border-box;
}

.btn-contact {
    text-align: center;
}
.btn-contact button {
    width: 300px;
    height: 60px;
    font-size: 18px;
    line-height: 2.22;
    letter-spacing: 0.2em;
    color: #fff;
    background-color: #457d2e;
    align-content: center;
    border-radius: 30px;
    margin: 125px auto 0;
}
.white-contact button:hover {
    background-color: white;
    border: 1px solid #000;
    color: #000;
}
/* フッターメニュー */
.footer-menu ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    text-align: center;
    padding-top: 128px;
    padding-bottom: 128px;
    gap: 117px;
}
/* タイトルにつけるチューリップのアイコン */
.footer-menu img {
    width: 43px;
    height: 133px;
}
/* メニュータイトルの文字 */
.footer-menu p {
    font-size: 35px;
    line-height: 1.77;
    writing-mode: vertical-rl;
    text-orientation: upright;
}
.footer-menu {
    background-color: #fcebec;
}
/* footer */
.footer {
    background-color: #fe2e35;
    text-align: center;
    z-index: 9999;
}

.footer__inner {
    display: block;
    position: relative;
}
.footer__inner p {
    font-size: 15px;
    line-height: 1.73;
    color: #fff;
}
.footer__inner span {
    font-weight: 700;
}
.footer__logo {
    padding-top: 36px;
    padding-bottom: 24px;
}
.copyright {
    display: block;
    position: relative;
    padding-top: 80px;
    padding-bottom: 32px;
    color: #fff;
}
.PAGETOP {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 75px;
    height: 75px;
    background-color: #fe2e35;
    color: #fff;
    align-content: center;
}
.pagetop__text p {
    font-size: 18px;
    color: #fff;
}
.pagetop__text span {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    line-height: 1;
    width: 30px;
    height: 30px;
    border: 2px solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(25%) rotate(-45deg);
}

/* スマホのときだけ改行 */
.br-sp {
    display: none;
}
.br-pc {
    display: block;
}
@media only screen and (max-width: 1130px) {
    header {
        position: relative;
    }
    .header__title {
        right: auto;
        left: 35px;
    }
    /* CONCEPT */
    .concept__group {
        flex-direction: column;
    }
    .concept__text {
        padding-left: 0;
        padding-top: 40px;
    }
    /* SKILL */
    .section-skill {
        flex-direction: column;
    }
    .skill__group {
        margin-left: 0;
    }
    /* SERVICE */
    .service__text ul {
        padding-left: 20%;
        padding-right: 10%;
    }
    /* MENU */
    .menu ul,
    .footer-menu ul {
        gap: 36px;
    }
}

@media only screen and (min-width: 769px) {
    .header__inner {
        padding-left: 20px;
    }
    .header__inner .site__name {
        margin-left: 1em;
    }
}
@media only screen and (max-width: 768px) {
    /* スマホのときだけ改行 */
    .br-sp {
        display: block;
    }
    .br-pc {
        display: none;
    }
    /* header    */
    .header__inner {
        padding-left: 15px;
    }
    .header__inner .site__name {
        display: none;
    }
    .title__img {
        width: 80%;
        height: auto;
    }
    /* タイトルにつけるチューリップのアイコン */
    .menu img,
    .footer-menu img {
        width: 22px;
        height: 67px;
    }
    /* メニュータイトルの文字 */
    .menu p,
    .footer-menu p {
        font-size: 18px;
    }
    /* セクションタイトル */
    .section__title img {
        width: 22px;
        height: 67px;
        padding-left: 8px;
    }
    .section__title p {
        font-size: 48px;
    }
    .row {
        padding: 50px 35px 100px;
    }
    /* CONCEPT */
    .hero__text {
        padding-top: 10px;
        /* padding-left: 10px; */
    }
    .concept__text {
        padding-top: 30px;
        /* padding-left: 10px; */
    }
    .concept__text h4 {
        font-size: 20px;
        line-height: 2;
    }
    .concept__text p {
        font-size: 18px;
        line-height: 2.33;
        padding-top: 38px;
    }
    /* WORKS */
    .works__group a {
        flex-direction: column;
    }
    .works__group img {
        width: 264px;
        height: 264px;
    }
    .works__item {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }
    .works__item img {
        width: 100%;
        height: auto;
    }
    .works__text {
        width: 100%;
        height: auto;
        aspect-ratio: 264 / 154;
    }
    .works__text p {
        font-size: 16px;
    }
    .works__title {
        left: 8%;
    }
    .btn-works {
        width: 160px;
        height: 36px;
        font-size: 16px;
        line-height: 36px;
    }
    /* SKILL */
    .skill__group {
        margin-top: 20px;
        margin-left: 50px;
    }
    .skill__group ul {
        padding-bottom: 32px;
    }
    .skill__type h3 {
        font-size: 26px;
    }
    .skill__type p {
        font-size: 10px;
    }
    .skill__type {
        gap: 10px;
    }
    .skill__item p {
        width: 80x;
        font-size: 16px;
    }
    .skill__item {
        gap: 30px;
    }
    /* SERVICE */
    .service__text ul {
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
    }
    .service__text li {
        flex-direction: column;
        padding-bottom: 58px;
        align-items: center;
    }
    .service__text p {
        font-size: 14px;
        line-height: 1.75;
        padding-left: 0;
        padding-top: 20px;
        align-content: center;
        display: block;
        width: 75%;
        text-align: justify;
        text-align-last: left;
    }
    /* CONTACT */
    .contact__subtitle p {
        font-size: 14px;
        line-height: 2;
    }
    .contact__text {
        padding-left: 0;
        padding-right: 0;
    }
    .contact__name,
    .contact__e-mail,
    .contact__message {
        font-size: 14px;
    }
    .contact__name,
    .contact__e-mail {
        height: 48px;
    }
    .contact__message {
        height: 120px;
    }
    .btn-contact button {
        width: 224px;
    }
    /* footer */
    .PAGETOP {
        left: 0px;
    }

    /* ==========
KV
==========*/
    .main-visual {
        top: 75px;
    }
    .mv__title-area img {
        margin-right: 0;
    }
    .mv__title--transparent,
    .mv__title {
        font-size: 40px;
        line-height: 1.5;
    }
    .mv__title--transparent {
        -webkit-text-stroke: 1px #1a1a1a;
        text-stroke: 1px #1a1a1a;
    }
}
